{% extends 'perfil.html' %}
{% block titulo %}
<h1 style="font-size: 80px;">Insertar Nueva Tarea</h1>
{% endblock %}
{% block cuerpo %}
<br>
<ul class="list-group" style="width:500px">
<li class="list-group-item">
<br>
  <form method="POST" action="{{ url_for('insertar_exito', usuario=usuario) }}">
  <div class="mb-3">
  	<label for="titulo" class="form-label" style="font-size: 25px;">Titulo de la Tarea</label>
    <input type="text" class="form-control" name="titulo" placeholder="Titulo" style="width:300px" autocomplete="off">
  </div>
  <div class="mb-3">
  	<label for="descripcion" class="form-label" style="font-size: 25px;">Descripcion de la Tarea</label>
    <textarea name="descripcion" rows="3" cols="40" placeholder="Descripcion"></textarea>
  </div>
  <div class="mb-3">
  <div>
  <label for="categoria" style="font-size: 25px;">Categoria de la Tarea</label>
	</div>
	<br>
	<select name="categoria" style="width: 200px; height: 30px;">
	{% for i in categorias %}
  		<option value="{{ i }}">{{ i }}</option>
  	{% endfor %}
	</select>
	</div>
<br>
  <button type="submit" class="btn btn-primary">Aceptar</button>
</form>
<br>
</li>
</ul>

{% endblock %}