<!doctype html>
<html lang="es" style="background:#d7dcdc;">
<meta charset="utf-8">
<title>Tareas {{ usuario }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<div style="background:#d1d6d6;">
<br>
  <div class="row">
    <div class="col">
      <div class="justify-content-flex-start">
        <a class="btn btn-outline-secondary" href="{{ url_for('perfil', usuario=usuario) }}" role="button"
        style="font-size:20px; color: #000000"><strong>{{ usuario }}</strong></a>
        <a class="btn btn-outline-secondary" href="{{ url_for('insertar_tarea', usuario=usuario) }}" role="button" style="font-size:20px; color: #000000"><strong>Nueva Tarea</strong></a>
        <a class="btn btn-outline-secondary" href="{{ url_for('tareas_completadas', usuario=usuario) }}" role="button" style="font-size:20px; color: #000000"><strong>Tareas Completadas</strong></a>
        </div>
    </div>
    <div class="col-4">
    </div>
    <div class="col">
      <div class="justify-content-flex-end">
<a class="btn btn-outline-secondary" href="{{ url_for('inicio') }}" role="button" style="font-size:20px; color: #000000"><strong>Cerrar Sesion</strong></a>
</div>
    </div>
  </div>
  <br>
</div>
<div style="background:#d7dcdc;">
<center>
  <br>
{% block titulo %}
<h1 style="font-size: 80px;">Tareas Pendientes</h1>
{% endblock %}
{% block cuerpo %}
<br>
{% if tareas==[] %}
<h2 style="font-size: 40px;">No hay ninguna tarea introducida por completar aun...</h2>
<br>
<a class="btn btn-primary" href="{{ url_for('insertar_tarea', usuario=usuario) }}" role="button">Pulsa aqui para introducir la primera</a>
{% else %}
<table class="table" style="border: 1px solid black; border-collapse: collapse; text-align: center; width: 1400px;">
  <thead class="thead-dark" style="background-color: #bcbcbc;">
    <tr>
      <th scope="col" style="border: 1px solid black; font-size: 130%; font-family: times; width:8%">Tarea</th>
      <th scope="col" style="border: 1px solid black; font-size: 130%; font-family: times; width:15%">Titulo</th>
      <th scope="col" style="border: 1px solid black; font-size: 130%; font-family: times;width:12%">Categoria</th>
      <th scope="col" style="border: 1px solid black; font-size: 130%; font-family: times;width:8%">Fecha Creacion</th>
      <th scope="col" style="border: 1px solid black; font-size: 130%; font-family: times;width:10%">No Completada</th>
      <th scope="col" style="border: 1px solid black; font-size: 130%; font-family: times;width:10%">Eliminar</th>
    </tr>
  </thead>
  <tbody>
  	{% for i in tareas %}
  	<tr style="height:20px;">
      <td style="background-color: #ffffff;">
      <a href="{{ url_for('detalle_tarea', usuario=usuario, codtarea=i.0) }}"><button type="button" class="btn btn-outline-secondary">{{ i.0 }}</button></a>
      </td>
      <td style="background-color: #ffffff; padding: 10px;"><strong>{{ i.1 }}</strong></td>
      <td style="background-color: #ffffff; padding: 10px;"><strong>{{ i.2 }}</strong></td>
      <td style="background-color: #ffffff; padding: 10px;"><strong>{{ i.3 }}</strong></td>
      <td style="background-color: #ffffff; padding: 10px;">
      	<a href="{{ url_for('completar_tarea', usuario=usuario, codtarea=i.0) }}"><button type="button" class="btn btn-outline-secondary">Completar</button></a>
      </td>
      <td style="background-color: #ffffff; padding: 10px;">
        <a href="{{ url_for('borrar_tarea', usuario=usuario, codtarea=i.0) }}"><button type="button" class="btn btn-outline-secondary">Eliminar</button></a>
      </td>
    
    </tr>
	{% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
</center>
</div>
</html>