{% extends 'base.html' %}

{% block titulo %}
<h1 style="font-size: 100px;">Registrarse</h1>
{% endblock %}
{% block form %}
<li class="list-group-item">
<br>
  <form method="POST" action="{{ url_for('bienvenido') }}">
  <div class="mb-3">
    <input type="text" class="form-control" name="nombre" placeholder="Nombre" autocomplete="off" style="width:300px">
  </div>
  <div class="mb-3">
    <input type="text" class="form-control" name="usuario" placeholder="Usuario" autocomplete="off" style="width:300px">
  </div>
  <div class="mb-3">
    <input type="email" class="form-control" name="correo" placeholder="Correo" autocomplete="off" style="width:300px">
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" name="contrasena" placeholder="Contraseña" autocomplete="off" style="width:300px">
  </div>
  <button type="submit" class="btn btn-primary">Registrarse</button>
</form>
 <hr>
 <p>¿Tienes cuenta?&emsp;<a class="btn btn-primary" href="{{ url_for('inicio') }}" role="button">Inicia Sesión</a></p>
</li>

{% endblock %}